.search-box{
    -fx-background-color: #fff;
    -fx-background-radius: 20px;
}

.sidebar-button {
    -fx-background-color: #8B5A2B;
    -fx-background-radius: 0 20 0 0;
    -fx-font-size: 15px;
    -fx-padding: 5px 10px;
    -fx-transition: 0.3s;
}


.sidebar-button:hover {
    -fx-background-color: #ae7138;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.sidebar-button-submenu {
    -fx-background-color: #fff;
    -fx-font-size: 15px;
    -fx-padding: 5px 10px;
    -fx-transition: 0.3s;
    -fx-alignment: center_right;
}


.sidebar-button-submenu:hover {
    -fx-background-color: #edecec;
    -fx-background-radius: 0 20 0 0;
    -fx-border-color: #8B5A2B;
    -fx-border-width: 0 0 0 8;
}

.boxTotal{
    -fx-background-color: #fff;
    -fx-background-radius: 20;
    -fx-pref-width: 250;
}

.chart-box{
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-alignment: center;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-background:  #ecddd7;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Table Don Hang */
.table-donhang {
    -fx-background-color: #F5F5DC;
    -fx-border-color: #8B5A2B;
    -fx-border-width: 2px;
}

.table-donhang .column-header {
    -fx-background-color: #8B5A2B;
    -fx-border-color: #6D4C1C;
}

.table-donhang .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.table-donhang .table-row-cell {
    -fx-background-color: #FFF5E1;
    -fx-border-color: #E3C09A;
}

.table-donhang .table-row-cell:hover {
    -fx-background-color: #FFD700;
}

.table-donhang .table-row-cell:selected {
    -fx-background-color: #DAA520;
    -fx-text-fill: white;
}

.table-donhang .scroll-bar {
    -fx-background-color: transparent;
}

.table-donhang .scroll-bar .thumb {
    -fx-background-color: #8B5A2B;
    -fx-background-radius: 5px;
}

/* Tab Tao Hoa Don */
.box-vitri{
    -fx-pref-height: 100px;
    -fx-pref-width: 100px;
    -fx-background-color: #e4d9d0;
    -fx-border-color: #8B5A2B;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-alignment: center;
}

.box-vitri .label{
    -fx-text-fill: #8B5A2B;
}

.box-vitri Text{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #8B5A2B;
}

.box-vitri-active{
    -fx-background-color: #8B5A2B;
}

.box-vitri-active .label{
    -fx-text-fill: white;
}

.box-vitri-active Text{
    -fx-fill: white;
}

/* Fordward - Backward Button */
.btn-chuyentrang{
    -fx-background-color: #8B5A2B;
    -fx-text-fill: white;
    -fx-border-radius: 10px;
}

/* Button Chuc Nang Quan Ly Hoa Don */

.btn-chucnang{
    -fx-background-color: #8B5A2B;
    -fx-text-fill: #fff;
    -fx-padding: 10px;
}

/* Tab Quan Ly Hoa Don */

.tab .tab-label {
    -fx-text-fill: #000000;
}

.tab:selected .tab-label {
    -fx-text-fill: #ffffff;
}

.tab:selected {
    -fx-background-color: #8B5A2B;
}

.tab-header-background {
    -fx-background-color: #DCDCDC;
}

/* Box San Pham */
.box-sanpham{
    -fx-pref-height: 100px;
    -fx-pref-width: 100px;
    -fx-background-color: #e4d9d0;
    -fx-border-color: #8B5A2B;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-alignment: center;
    -fx-padding: 10px;
}

.box-sanpham .label{
    -fx-text-fill: #8B5A2B;
}

.box-sanpham Text{
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-fill: #8B5A2B;
}

